$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$bg-primary: #1abc9c;
$bg-primary-transparency: rgba(26,188,156, 0.7);
$bg-secondary: #2c3e50;
$bg-secondary-transparency: rgba(44, 62, 80, 0.15);

$font-primary: #ffffff;
$font-secondary: #212529;
$font-secondary-transparency: rgba(33, 37, 41, 0.35);

* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    color: $font-primary;
}

html, body, main {
    height: 100%;
}

div.page-cover {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    div.cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: linear-gradient(to right, #1abc9c, #2c3e50);
    }

    div.page-mask {
        background-image: url(/assets/bg-layer.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
