@model Vita.Identity.Host.Controllers.Account.LoginViewModel

<div class="login-page">

    @*  <partial name="_ValidationSummary" />*@

    <div class="login-container">
        <div class="login-background">

        </div>

        <form asp-route="Login">

            <div class="login-tabs">
                <label class="active">Sign In</label>
                @*<label >Sign Up</label>*@
            </div>

            <div class="login-form">
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="form-group">
                    <label class="login-label" asp-for="Email">Email</label>
                    <div class="input">
                        <input class="form-control" asp-for="Email" autofocus spellcheck="false">
                        <i class="fa fa-users"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label class="login-label" asp-for="Password">Password</label>
                    <div class="input">
                        <input type="password" class="form-control" asp-for="Password" autocomplete="off" spellcheck="false">
                        <i class="fa fa-unlock-alt"></i>
                    </div>
                </div>

                <div class="form-group login-button">
                    <button class="btn btn-primary" name="button" value="login">
                        <b>Sign in</b>
                    </button>
                </div>
            </div>

            <div class="login-footer">

            </div>
        </form>
    </div>
</div>