<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="8192" />
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44360" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.101\DotnetTools\dotnet-watch\6.0.101-servicing.21569.16\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:62882/Vita.Identity.Host/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAr3bsOsqKr6gspm180BgB/z2qjsT1SaDefgOHvCEvb8E0rlp1oodB0POLsFWH8zsF487jsssyVnPbPvKlLvo+pRtFK8k94QSr3v7a/PZKcoHSWZH0j7rY7zo5k0VOx5/UNse8Iv3QBIj2GJiRladDo5kdTnFPiA/Ao/r6go1eR4yTi7WeNEtEMo5Bm1un8wwhkYxexi50jPw08lQYvDFwbz0WzdE1GHFv7/yE005wx7QGqIOdaBnVWJf5LGHjp39JxdbgF+p/0rG6dk6cYWiW313IaEOs/vfZzwFhApSW82vQGj2TzIg19J9rRUXy9mb5M0JWkaPf7mhskoBoncEIuQIDAQAB" />
          <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="0a63d356-4b1a-4663-8452-4ba685ae8ce6" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>